/*==============================
ABOUT
==============================*/

.about{

    background:#111827;

    padding:120px 0;

}

.section-tag{

    color:#3B82F6;

    font-weight:600;

}

.section-title{

    color:#fff;

    font-size:42px;

    font-weight:700;

    margin-top:10px;

     position:relative;

    


}

.about-image{

    width:360px;

    height:360px;

    margin:auto;

    border-radius:25px;

    overflow:hidden;

    border:3px solid #3B82F6;

    box-shadow:0 0 35px rgba(59,130,246,.25);

    transition:.4s;

}

.about-image:hover{

    transform:translateY(-10px);

    box-shadow:0 0 45px rgba(59,130,246,.35);

}

.about-image img{

    width:100%;

    height:100%;

    object-fit:cover;

    

}

.about-heading{

    color:#fff;

    font-size:34px;

    margin-bottom:20px;

}

.about-text{

    color:#94A3B8;

    line-height:1.9;

    font-size:18px;

}

.info-card{

    background:#1F2937;

    border-radius:15px;

    padding:18px;

    display:flex;

    align-items:center;

    gap:18px;

    transition:.4s;

    border:1px solid rgba(255,255,255,.05);

    cursor: pointer;

}

.info-card:hover{

    transform:translateY(-8px);

    border-color:#3B82F6;

    

    background:#243041;

    box-shadow:0 10px 30px rgba(59,130,246,.25);

}

.info-card i{

    font-size:28px;

    color:#3B82F6;

}

.info-card h6{

    color:#fff;

    margin-bottom:4px;

}

.info-card p{

    margin:0;

    color:#94A3B8;

}

.about-image img{
    transition:.5s;
}

.about-image:hover img{
    transform:scale(1.05);
}

.section-title{

    color:#fff;
    font-size:42px;
    font-weight:700;
    margin-top:10px;

    position:relative;

}



.section-title::after{

    content:"";

    width:80px;

    height:4px;

    background:#3B82F6;

    position:absolute;

    bottom:-12px;

    left:50%;

    transform:translateX(-50%);

}